.valid {
  border: 2px solid blue;
}

.invalid {
  border: 2px solid red;
}

input {
  outline: none; /* waxa u ka saraa input */
  margin: 0.7rem 0;
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
}

button {
  width: 100%;
  height: 2rem;
  margin-top: 2rem;
}

body {
  height: 100vh;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  padding: 2rem;
  width: 30rem;
  border-radius: 1rem;
}

.valid {
  border: 2px solid blue;
}

.invalid {
  border: 2px solid red;
}

#error{
 color: red;
}

#success{
 color: blue;
}

input{
  outline: none;
}