@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Poppins", sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: rgba(255, 255, 255,0.9);
  border-bottom: 1px solid green;
}

.container{
  max-width: 1200px;
  margin-inline: auto;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.humbeger{
  display: none;
}

.bar{
  height: .2rem;
  width: 2.5rem;
  margin-top: .2rem;
  background-color: red;
  border-radius: 20%;
}

/* humbeger end */

.dugsiiye1{
 display: flex;
 align-items: center;
}

.dugsiiye1 h1{
 font-size: 1.3rem;
 font-weight: 600;
 cursor: pointer;
}

.dugsiiye2{
  height: 1.5rem;
  width: .1rem;
  background-color: green;
  border-radius: 20%;
  margin: 0 1rem;
}

.dugsiiye3{
  display: flex;
  align-items:center;
  cursor: pointer;
}

.dugsiiye3 h1{
  font-size: 1rem;
  font-weight: 00;
  margin-left: .1rem;
}

.search{
  height: 2.8rem;
  width: 40rem;
  border: 1px solid rgb(214, 209, 209);
  border-radius: 1rem;
  display: flex;
}

.search:hover{
    border: 2px solid #07ad07;
}

.sea{
  height: 100%;
  width: 3.5rem;
  border-radius: 1rem 0 0 1rem;
  display: flex;
  align-items:center;
  justify-content: center;
}

.fa-magnifying-glass{
  font-size: 1.2rem;
}

.navigat{
  width: 35rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
}

.profile{
  display: flex;
  align-items: center;
}

.moon{
  margin: 0 .8rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.prof{
  height: 2.7rem;
  width: 2.7rem;
  background-color: rgb(222, 228, 233);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items:center;
  justify-content: center;
}

.prof h1{
  font-size: 1.5rem;
  color: rgb(237, 196, 142);
}

/* dugsiiye end */

.contain{
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.sidebar{
  background-color: #b7c3b7;
  height: 100vh;
}





.main{
  /* background-color: #66c366; */
  height: 100%;
  margin: 0 10rem;
}

.student{
  background-color: rgba(255, 255, 255, 0.9);
  height: 10rem;
  width: 100%;
  position: fixed;
  top: 0;
  margin-top: 5rem;
}

.regular{
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.regular h1{
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.arrow{
  font-size: 1rem;
  font-weight: 500;
  margin: 0 .5rem;
}

.regular .fa-house{
  font-size: 1rem;
  cursor: pointer;
}

.dashboard p{
 margin-top: .1rem;
}

.student_dashboard{
  margin-top: 10rem;
  margin-bottom: .4rem;
}

.Level{
  display: flex;
}

.courses{
  height: 15rem;
  width: 50%;
  border: 1px solid black;
  border-radius: 1rem;
}

.available{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  width: 100%;
  padding: 1rem;
  background-color: rgb(234, 230, 230);
  border-radius: 1rem 1rem 0 0;
}

.available h2{
  font-size: 1rem;
  font-weight: 500;
}

.available h3{
  font-size: 1rem;
  font-weight: 500;
}

.Curr{
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #b7c3b7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Curr .fa-graduation-cap{
  font-size: 2rem;
  color: rgb(220, 84, 84);
}

.lable{
  background-color: rgb(250, 250, 250);
  height: 40%;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.lable h1{
  font-size: 1rem;
  font-weight: 500;
}

.leevl{
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 1.8rem;
  width: 4.5rem;
  font-size: .3rem;
  border: 1px solid black;
  background-color: #e7ebe7;
  border-radius: 1rem;
}

.avail{
  height: 15rem;
  width: 20rem;
  border: 1px solid black;
  border-radius: 1rem;
  margin-left: 3rem;
}

.tive{
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  height: 40%;
  border-bottom: 1px solid black;
}
 
.active h2{
  font-size: .8rem;
  font-weight: 500;
}

.completed{
  font-size: 1rem;
  font-weight: 500;
  margin-top: .3rem;
  margin-left: 1rem;
}

.boo{
  height: 2rem;
  width: 2rem;
}

.prog{
  height: 30%;
}

.currentLevel{
  margin-top: 2rem;
  height: 18rem;
  width: 100%;
  border: 1px solid black;
  border-radius: 1rem;
}

.cally{
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid rgb(225, 176, 176);
  height: 35%;
}

.specifically h1{
  font-size: 1.5rem;
}

.specifically h2{
  font-size: 1rem;
  font-weight: 500;
}

.L3_level{
 border: 1px solid rgb(80, 49, 49);
 width: 5rem;
 height: 1.7rem;
 border-radius: .6rem;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #edf2ed;
}

.L3_level h1{
 font-size: .8rem;
}

.level_progress{
  height: 65%;
  padding: 1rem;
}

.across{
  display: flex;
  justify-content: space-between;
}

.across h1{
  font-size: 1rem;
  font-weight: 600;
}

.courses{
  width: 100%;
}

.only{
  margin: .4rem 0;
  height: .6rem;
  width: 100%;
  background-color: rgb(203, 221, 234);
  border-radius: 1rem;
  position: relative;
}

.specally{
  height: .6rem;
  width: 35%;
  background-color: rgb(65, 188, 65);
  position: absolute;
  top: 0;
}

.cour h1{
 font-size: .6rem;
}

.Accessible{
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.Access{
  text-align: center;
  font-size: 1rem;
}

.Access h1{
  font-size: 1rem;
  font-weight: 500;
}

.ment{
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.ment h1{
  font-size: 1.5rem;
}

.ment .fa-graduation-cap{ 
  font-size: 1.5rem;
  margin-right: .5rem;
  color: rgb(21, 158, 21);
}

.ment h1{ 
  font-size: 1.5rem;
  font-weight: 600;
}

.current{
  font-size: 1rem;
  margin-top: -1rem;
  font-weight: 400;
}





.full_stack{
  width: 100%;
  height: 100%;
  border: 1px solid rgb(165, 142, 142);
  border-radius: 1rem;
}

.software{
  height: 18rem;
  border-radius: 1rem 1rem 0 0;
  background-color: rgb(237, 241, 241);
  display: flex;
  padding: 1rem;
}

.img{
  position: relative;
}

.http{
  width: 90%;
  height: 100%;
}

.torship{
  height: 1.5rem;
  width: 8rem;
  background-color: rgb(83, 83, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 1rem;
  position: absolute;
  top: 15px;
  right: 40px;

}

.torship:hover{
  background-color: rgb(63, 63, 227);
}

.torship .fa-graduation-cap{
  font-size: .9rem;
  margin-right: .3rem;
}

.torship h1{
 font-size: .7rem;
 font-weight: 400;
}

.eng{
  width: 100%;
  height: 100%;
}

.eng h1{
  font-size: 1.5rem;
}

.eng h2{
  font-size: .8rem;
  font-weight: 400;
}

.eng h1:hover{
  color: red;
}

.eng h1:hover{
  color: red;
}

.specally2{
  width: 8%;
}

.lesson{
  display: flex;
  align-items: center;
}

.lesson h1{
  font-size: .9rem;
  font-weight: 400;
}

.fa-book{
 margin-right: .2rem;
 font-size: .8rem;
}

.across {
  margin: 1rem 0;
}

.across h2{
  display: flex;
}

.last_access{
  display: flex;
}

.comp{
  display: flex;
  align-items: center;
}

.comp h1{
  font-size: 1rem;
  font-weight: 500;
}

.comp h2{
  font-size: 1rem;
  font-weight: 600;
}

.tion{
  margin-left: .3rem;
  text-align: start;
}

.grie{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d2d8d2;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.comps{
  margin-left: 1.5rem;
}










































































