body{
    font-family: "Heebo", serif;
    background-color: black;
    color: white;
}

.container{
    width: 1110px;
    margin: 0 auto;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.grid-container div{
    /* background-color: rgb(157, 243, 148); */
    padding: 10px;
}

.blogs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/span 3;
}

.blogs .blog img{
    width: 100%;
    height: 200px;
}

.blogs .blog .blog-title{
    font-weight: 500;
    list-style: 2px;
    font-size: 22px;
    cursor: pointer;
}

.blogs .blog .blog-title:hover{
    color: #ffa301;
}

.blogs .blog .badge-date{
  display: flex;
  align-items: center;
  gap: 15px;
}

.blogs .blog .badge-date .badge{
    font-weight: 700;
    color: #230e00;
    line-height: 11px;
    font-size: 11px;
    background-color: #ffa300;
    padding: 2px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogs .blog .badge-date .date{
    color: #767676;
    line-height: 11px;
    font-weight: 700;
    font-size: 11px;
}

.ads .ad{
    background: url("https://demo.tagdiv.com/newspaper_pro/wp-content/uploads/2019/08/105-218x150.jpg.webp")center/ cover no-repeat;
    width: 247px;
    height: 277px;
}

.instagram .user{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.instagram .user .profile {
    display: flex;
    

}

.instagram .user .profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.instagram .user .profile .user-info{
    display: flex;
    flex-direction: column;
}

.instagram .user .profile .user-info span:nth-child(1){
    color: #ddd;
    line-height: 26px;
    font-size: 15px;
    font-weight: 500;
}

.follow-btn{
    background-color: transparent;
    color: #888;
    line-height: 13px;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid #444444;
    padding: 8px 15px;
    cursor: pointer;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gallery img{
    width: 100%;
}