.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.grid-container div{
    background-color: rgb(157, 243, 148);
    padding: 40px;
}

.blogs{
    grid-column: 1/span 3;
}