.container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 50px; /*auto waxa waayey inta soo hartay sidisa ha uqaato */
}

.item{
    background-color: blueviolet;
    padding: 20px;
    margin: 10px;
}