.container{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr; /* 1fr waa isbeeska soo haray haqaato*/
   /* grid-template-rows: 100px 100px 50px ; auto waxa waayey inta soo hartay sidisa ha uqaato */
   grid-template-columns: repeat(3,1fr);
    gap: 5px;
    /* row-gap: 20px;
    column-gap: 10px; */
}

.item{
    background-color: blueviolet;
    padding: 20px;
    margin: 10px;
}