.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    /* row-gap: 20px;
    column-gap: 10px; */
}

.item{
    background-color: blueviolet;
    padding: 20px;
    margin: 10px;
}

.item1{
    grid-column: 1/ span 4;
}

.item2{
    grid-column: 2/ -1;
}

.item3{
    grid-column: 2/ span 4;
    grid-row: 2/span 4;
}