* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  background-color: #333;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.brand-title {
  font-size: 1.5em;
  line-height: 60px;
}
.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  list-style: none;
  margin: o;
  padding: 0;
}

.navbar-links li {
  padding: 0 10px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  line-height: 60px;
  display: block;
}

.navbar-links a:hover {
  background-color: #444;
}


.toggle-button{
  position: absolute;
  top: 15px;
  right: 20px;
  display: flex;
  flex-direction: v;
}