body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    font-size: 60px;
    line-height: 1.4;      /* labada qoraa dhaxdooda */
    text-align: left;
}

span{
    font-style: italic;
    text-decoration: underline;
}