@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
    font-family: "Poppins", serif;

}

.prudect-showsase{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
}

img{
    max-width: 100%;
    border-radius: 8px;

}

.pruduct-case{
    min-width: 200px; /* cabirka ugu yar oo qadankaro */
    width: calc(25% - 20px);
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 5px rgb(0, 0, 0 ,0.1);
    text-align: center;
}

/* medium screen */
 @media(max-width: 1200px){

    .pruduct-case{
        width: calc(33% - 20px); /* 33% hawadaqadanin ee waxad ka jartaa - 20px */
     }
 }

 /* Table */
 @media(max-width: 768px){

    .pruduct-case{
        width: calc(50% - 20px);/* 50% hawadaqadanin ee waxad ka jartaa - 20px */
    }
 }

 /* phone */
 @media(max-width: 480px){

    .pruduct-case{
        width: 100%;
    }
}