.profice-card{
    width: 500px;
    background-image: url('https://images.unsplash.com/photo-1423479185712-25d4a4fe1006?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHByb2ZpbGV8ZW58MHx8MHx8fDA%3D');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.profice-card img {
    height: 100px;
    width: 100px;
    border: 1px solid tomato;
    border-radius: 50%;
}

