body{
    background-color: chocolate;
}

h1{
    color: white;
}

p{
    background-color: antiquewhite;
    padding: 20px;
}

#paragraph1{
    background-color: blue;
    padding: 20px;
}

#paragraph2{
    background-color: yellow;
    padding: 20px;
}

#paragraph3{
    background-color: black;
    color: white;
    padding: 20px;
}

#paragraph4{
    color: black;
    padding: 20px;
}

