/* 1rem == 16px */

 /* 1rem == 16px */


 html{
    /* 32px */
    font-size: 2rem;
 }

 #phone{
    display: none;
 }
 
 #table{
    display: none;
 }
 
 #screen{
    display: none;
 }

 #large{
    display: none;
 }

.container{
    background-color: aquamarine;
    /* width: 80%; cabikaad hesatid boqolkiibo 80 qaado */
    max-width: 960px;
    height: 500px;
    margin-inline: auto;
    font-size: 0.5em;
}

img{
    max-width: 100%;
}

p{
    /* 1 rem = into pixel ee uu yahay parent-ga ama root ga html-ka */
    font-size: 1.5rem;
}

/* smart phone */
@media only screen and (max-width: 640px){

    .body{
        background-color: aquamarine;
    }
    #phone{
        display: block;
    }
}
  /* table */
  @media only screen and (min-width: 641px) and (max-width: 1024px){

    body{
        background-color: blue;
    }
    #table{
        display: block;
    }
}
 /* Desktop Laptop */
 @media only screen and (min-width: 1025px){

    body{
        background-color: blueviolet;
    }

    #screen{
        display: block;
    }
}

  /* Large Screen */
  @media only screen and (min-width: 1280px){

    body{
        background-color: rgb(246, 43, 43);
    }

    #large{
        display: block;
    }
  }