
body{
    background-color: rgb(251, 246, 251);
}
img{
    width: 100%;
    border-radius: 8px;
}

.img{
    width: 333px;
    height: 550px;
    padding: 20px;
    background-color: white;
    border: 2px solid rgba(94, 59, 59,0.1);
    border-radius: 8px;
    text-align: center;
    margin: 32px;
}

.container{
    display: flex;
    flex-wrap: wrap;
}



/* smart phone */
@media only screen and (max-width: 640px){

    .body{
        background-color: aquamarine;
    }
    .img{
        display: block;
    }
}
  /* table */
  @media only screen and (min-width: 641px) and (max-width: 1024px){

    body{
        background-color: blue;
    }
    img{
        display: block;
    }
}
 /* Desktop Laptop */
 @media only screen and (min-width: 1025px){

    body{
        background-color: blueviolet;
    }

    img{
        display: block;
    }
}

  /* Large Screen */
  @media only screen and (min-width: 1280px){

    body{
        background-color: rgb(246, 43, 43);
    }

    img{
        display: block;
    }
  }