@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing:  border-box;
}

body{
   font-family: 'Inter', sans-serif;
   background-color: aliceblue;
   display: flex;
   justify-content: center;
   height: 100vh;

   background-color: #ffffff;
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 20px;
   transition: background-color 0.3s ease, color 0.03s ease;
}

.cont_table{
   display: flex;
   align-items: center;
   justify-content: start;
   flex-direction: column;
}

.container{
   background-color: #f9faf9;
   border-radius: 10px;
   box-shadow: 0 2px 10px rgba(0,0,0,0.3);
   width: 400px;
}

.container h1{
   text-align: center;
   margin-top: 1rem;
   padding-top: 2rem;
}

.form{
   padding: 30px 40px;
}

.form-control{
   padding-bottom: 5px;
   margin-bottom: 10px;
   position: relative;
}

.form-control label{
   display: block;
   margin-bottom: 5px;
}

.form-control input{
   width: 100%;
   padding: 10px 15px;
   font-size: 16px;
   border: 1px solid #a7a1a0;
}

.form-control i.fa-check {
   position: absolute;
   text-align: right;
   color: #31ca15;
   top: 35px;
   bottom: 0;
   right: 10px;
   visibility: hidden;
}

.form-control i.fa-close {
   position: absolute;
   text-align: right;
   color: #ec5a36;
   top: 35px;
   bottom: 0;
   right: 10px;
   visibility: hidden;
}

.form-control input:focus{
   outline: none;
   border: 1px solid #1b1a1a;
}

.form-control small{
   display: block;
   color: #ec5a36;
   visibility: hidden;
}

input{
   border-radius: 0.5rem;
}

.btn {
   width: 100%;
   padding: 10px 20px;
   background-color: green;
   border: 2px solid #FF7E33;
   color: #fff;
   font-size: 14px;
   cursor: pointer;
   border-radius: 8px;
   display: block;
   outline: none;
   border: none;
}

.btn:hover{
   background-color: rgb(6, 134, 6);
}

.form-control .success input{
   border: 1px solid #31ca15;
}

.form-control .error input{
   border: 1px solid #ec5c15;
}
.form-control.error small {
   visibility: visible;
}

.cont{
   display: flex;
   height: 35rem;
   margin-top: 1rem;
}

#dark-mode{
   height: 2rem;
   width: 2rem;
   border: none;
   margin-left: 3rem;
   /* margin-top: 1rem; */
}

/* Form End */

  
     /* Default Light Mode Style */


      button{
         padding: 10px 20px;
         cursor: pointer;
         margin-bottom: 20px;
      }
  
      /* Dark Mode Style */
       body .dark-mode{
         background-color: #2c2c2c;
         color: #ffffff;
      
       }

       button.dark-mode{
         background-color: #444444;
         color: #ffffff;
         border: none;
       }
       
      /* Dark Mode Style */
      body.dark-mode{
         background-color: #2c2c2c;
         color: #000000;
      
       }

       button.dark-mode{
         background-color: #444444;
         color: #ffffff;
         border: none;
       }

       #dark-mode{
        height: 2rem;
        width: 2.5rem;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .3rem;
        
       }

       /* Dark mode End */

       table{
         margin-top: 1rem;
       }

       th{
         height: 2rem;
         width: 15rem;
         background-color: rgb(40, 40, 233);
         color: white;
         cursor: pointer;
       }

       th:hover{
         background-color: blueviolet;
       }

       td{
         background-color: rgb(165, 165, 224);
         color: white;
         text-align: center;
         height: 1rem;
       }
       
      .edit-delete{
         display: flex;
         height: 2rem;
         align-items: center;
         justify-content: center;
      }

      .edit-btn, .delete-btn{ 
         background-color: blue;
         margin-right: 1rem;
         width: 5rem;
         height: 1.5rem;
         font-weight: 600;
        display: flex;
         align-items: center;
         justify-content: center;
         border-radius: .3rem;
         cursor: pointer;
         
      }
       
      .edit-btn:hover{
         background-color: blueviolet;
      }

      .delete-btn{
         background-color: red;
      }

      .delete-btn:hover{ 
         background-color: rgb(243, 86, 86);
      }