/* .profile-card{
    width: 300px;
    padding: 22px;
    border: 4px solid blue;
    display: inline-block;
}

.profile-card img{
    width: 100%;
}

.content-box{
    box-sizing: content-box;
}

.border-box{
    box-sizing: border-box;
} */

.home{
    background-color: aquamarine;
    padding: 25px;
    text-align: center;
    margin-bottom: 40px;
    
}

.home a{
    text-decoration: none;
    border: 3px solid blue;
    padding: 5px 15px; 
    margin: 20px;
    color: white;
    background-color: rgb(160, 81, 234);
    
}

.image img{
    width: 100px;
    height: 50px;

}

.image{
    display: inline-block;
    border: 9  px solid rgb(233, 192, 192);
    box-sizing: content-box;
    padding: 10px;
    
}