
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, sans-serif;

}

.container{
    max-width: 1110px;
    margin-inline: auto; /*auto waxa uu sameenaa labad ges oo ka soo sikanaa*/
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.0625rem;
}

.top-item{
    height: 30.00rem;
    background-color: blue;
}