@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Poppins", serif;

}

.container{
    max-width: 1110px;
    margin-inline: auto; /*auto waxa uu sameenaa labad ges oo ka soo sikanaa*/
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.0625rem;
}

.top-item{
    height: 30.00rem;
    background-color: blue;
}


.top-1 h2{
    font-size: 5.50rem;
    font-weight: 500;
    /* line-height: 5.00rem; */
}



.top-1 h2{
    font-size: 1.63rem;
    font-weight: 400;
        /* line-height: 5.00rem; */
}

button{
    background-color: #252525;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    color: white;
    font-size: 1.13rem;
}