@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Poppins", serif;
    background-color: #ffff;
}

.container{
    max-width: 1110px;
    margin-inline: auto; /*auto waxa uu sameenaa labad ges oo ka soo sikanaa*/
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.0625rem;
}

.top{
    margin-top: 4.06253rem;
}

.top-item{
    height: 30.00rem;
    /* background-color: blue; */
     border-radius: 1rem;
}

.top-1{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: self-start;
    margin-top: 4.5rem;
}

.top-1 h2{
    font-size: 3.50rem;
    font-weight: 500;
    /* line-height: 5.00rem; */
    color: rgba(37, 37, 37, 0.8);
}

.top-1 p{
    font-size: 1.63rem;
    font-weight: 400;
   /* line-height: 5.00rem; */
}

button{
    background-color: #252525;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    color: white;
    font-size: 1.13rem;
    cursor: pointer;
}

.top-2 {
    background: url('https://plus.unsplash.com/premium_photo-1673796984325-c4620a07b57d?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')center/cover no-repeat;
}


.top-3 {
    background: url('https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3')center/cover no-repeat;
    margin-top: 4.9rem;
}