
.Why{
    background-color: rgb(234, 240, 240);
}

@media(max-width: 768px){
    .Transform{
        font-size: 1.8rem;
    }

    .Elvete{
        font-size: 0.7rem;
    }

    .Why{
        display: flex;
    }

    .Magnam{
        height: 50rem;
    }

    .roun{
        width: 100%;
        height: 11rem;
        background-color: #a1a12c;
        text-align: start;
        justify-content: space-between;
        text-justify: ;
    }
}