#box1{
   background-color: blue;
   color: white;
   margin: 66px;
}

#box2{
   background-color: green;
   color: white;
   margin-top: 20px;
   margin-bottom: 21px;
}

#box3{
   background-color: red;
   color: white;
   margin-left: 21px;
   margin-right: 557px;
}