@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

.container{
    width: min(90%, 1120px); /*masha ugu badan oo garikaro waa 1120px lakin waxa ugu yare oo dhan 90% ka qaado*/
    margin-inline: auto;
}

header{
    background-color: #fafaf6;
    height: 4.5rem;
}

.desktop-menus {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menus-link{
    display: flex;
    gap: 20px;

}

.menus-link li{
    list-style: none;
}

.menus-link li a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(43,43,43);
}

.menus-link li a:hover{
    color: #5f6ad4;
}

.desktop-menus h1{
    font-size: 1.26rem;
    font-family: 700;
}

.humberger{
    display: none;
}

.mobile-menu{
    display: none;
}


.mobile-menu-action{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.btn-primary, .btn-secondry{
 display: inline-block;
 background-color: #5f6ad4;
 padding:  20px;
 margin: 5px;
 border-radius: 5px;
 text-decoration: none;
 text-align: center;
}

.btn-secondry{
    background-color: transparent; /*kalar adiga hesatad  ku soo moqo*/
    border: 1px solid white;
}

 /* table and mobile phone */
@media(max-width:768px){

    .desktop-menus{
        display: none;
    }
    
    header{
        height: 0;
    }

    i{
        z-index: 11111; /*labo item yaa soo hormuuqanaayo hadeey is korsaran yihin*/
    }

    .humberger{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: #5f6ad4;
        color: white;
        /* padding: 15px; */
        width: 50px;
        height: 50px;
        top: 10%;
        right: 5%;
        border-radius: 50%;
        font-size: 2rem;
    }

    .mobile-menu{
        display: flex;
        justify-content: center;
    
        position: fixed;
        background-color: #2b2b2b;
        inset: 0 0 0 0;
        color: white;
    }

    .mobile-menu .navigation{
        margin-top: 5rem;
        display: flex;
        
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;

    }

    .mobile-menu .navigation .menus-link{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .mobile-menu h1{
        font-size: 2.3125rem;
        font-weight: 700;
        border-bottom: 2px solid white;
        padding: 20px;
    }

    .mobile-menu a {
        color: white !important; /*anaa awood leh*/
    }
}