body{
    background-color: #0000ff;
}

p{
    color: #666882;
    background-color: yellow;
}

#red{
    background-color: rgb(255,0,0);
}

#green{
    background-color: rgb(0,255,0);
}

#blue{
    background-color: rgb(0,0,255);
}

#mixed{
    background-color: rgb(255,255,0);
}

/* 0-1 */
#alpha{
    background-color: rgba(255,255,0,0.7);
}
