* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  background-color: #333;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

.brand-title {
  font-size: 1.5em;
  line-height: 60px;
}
.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  padding: 0 10px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  line-height: 60px;
  display: block;
}

.navbar-links a:hover {
  background-color: #444;
}

.toggle-button {
  position: absolute;
  top: 15px;
  right: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.home_gb{
  background-color: rgb(255, 96, 96);
  height: 58rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.home_gb a{
   color: white;
   font-weight: 900;
   text-decoration: none;
   font-size: 25px;
}

.about{
  background-color: rgb(160, 69, 245);
}

.services{
  background-color: rgb(12, 126, 12);
}

.protfolio{
  background-color: orange;
}

.blog{
  background-color: rgb(80, 80, 180);
}

.careers{
  background-color: rgb(163, 163, 255);
}

.contact{
  background-color: rgb(211, 59, 59);
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-in-out;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links a {
    padding: 10px;
    line-height: 20px;
  }

  .navbar.active .navbar-links {
    max-height: 300px;
    opacity: 1;
    transition: max-height 250ms ease-in-out, opacity 250ms ease-in-out;
  }

  .navbar.active .toggle-button .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar.active .toggle-button .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar.active .toggle-button .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
