.promo-container{
    position: relative;
    width: 300px;
    height: 200px;
}

.promo-image{
    width: 100%;  /*cabika abbe u ah haku fadhisto*/
    height: auto;  /* mesh qoraka laikaado la ikaawo*/
}

.prome-badge{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}