.fixed-footer{
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
    padding: 10px 0;
    text-align: center;


}

span{
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}

.fixed-footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0 10px ;
}