.ticky-headers{
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 2px 2px rgba(166, 186, 203, 0.2);
    color: black;
}

.sticky-header{
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 2px 2px rgba(166, 186, 203, 0.2);
    color: black;
}